@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

* {
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: rgba(#333, 0.5);
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(#eee, 0.8);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-corner {
    background: rgba(#eee, 0.8);
  }

  &::-webkit-scrollbar-thumb {
    transition: background 0.1s;
    background: rgba(#333, 0.3);
    border-radius: 3px;
  }
}
